blueprint:
  name: LuxPower Time Configurator
  description: Schedule a automation to translate time updated using input time card to Time register.
  domain: automation
  input:
    input_datetime_helper:
      name: Helper Input datetime entity
      description: This helper entity value will be used to configure the selected time register entity of LuxPower.
      selector:
        entity:
          domain: input_datetime
    output_time_register:
      name: Time register entity
      description: This entity value will configured according to the Helper Input entity.
      selector:
        entity:
          domain: number

trigger:
  - platform: state
    entity_id:
      - !input input_datetime_helper
#  - input_datetime.ac_charge_start

variables:
  inputDatetimeEntity: !input input_datetime_helper
  outputEntity: !input output_time_register

condition: []

action:
  - service: number.set_value
    data_template:
      value: "{{ state_attr(inputDatetimeEntity, 'minute')|int * 256  + state_attr(inputDatetimeEntity, 'hour') | int  }}"
      entity_id: !input output_time_register
#    entity_id: number.lux_ac_charge_start
mode: single
